body, text {
    font-family: Century Gothic, Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    // background-color: #EEE;
    overflow-y: overlay;
}

.header {
    text-align: center;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #DDD;
    h1 {
        // display: inline;
        font-size: 25px;

        @media (max-width: 740px) {
            font-size: 18px;
        }

        margin: 5px 20px 0px;
    }
    span {
        font-size: 12px;
        color: #333;
        position: relative;
        top: -2px;
    }

    span.source {
        display: block;
        position: absolute;
        top: 28px;
        right: 15px;
        a {
            background-color: #FFF;
            border: none;
        }
    }
}

.menu {
    text-align: center;
    font-size: 13px;
    .title {
        padding-right: 10px;
    }
    .entry {
        display: inline-block;
        padding: 10px 6px;
        
        a {
            &.router-link-active {
                background-color: white;
                color: black;
            }
        }
    }
    border-bottom: 1px solid #DDD;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background-color: #222;
    padding: 1px 4px 2px;
    border: 1px solid #222;
    &:hover {
        background-color: #FFF;
        color: #222;
    }
    border-radius: 4px;
}

h1 a {
    background-color: #FFF;
    color: #000;
    border: none;
}


.footer {
    border-top: 1px solid #DDD;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 11px;
    margin-bottom: 5px;
    span {
        padding: 0 10px;
        border-right: 1px solid #888;

        &:last-child {
            border: none;
        }
    }
}

.visualisations {
    margin: 10px;
    .visEntry {
         margin: 15px 0 35px;
         .vis {
             .subtitle {
                 margin-top: -1px !important;
                 margin-bottom: -2px !important;
             }
             .facet-title {
                 font-weight: 400;
                 text-align: center;
             }
             .vis-form-elements {
                margin-top: -2px;
                margin-bottom: 4px;
             }
             .vis-legends {
                position: relative;
                .legend[data-dim='type'] {
                    position: absolute;
                    top: -4px;
                    left: 270px;
                }
             }

             svg {
                 g.axis-position-left text{
                     transform: translate(3px, 0);
                 }
             }
         }
    }

}

@import "modal.scss"
